In [2]:
install.packages("tidyverse")

The downloaded binary packages are in
	/var/folders/wy/f2g87lw121qf8pt2k7_d4ysr0000gn/T//RtmpNFn1UH/downloaded_packages

In [3]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.4
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [4]:
# Download raw_bike_sharing_systems.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_bike_sharing_systems.csv"
download.file(url, destfile = "raw_bike_sharing_systems.csv")

In [5]:
# Download raw_cities_weather_forecast.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_cities_weather_forecast.csv"
download.file(url, destfile = "raw_cities_weather_forecast.csv")

In [6]:
# Download raw_worldcities.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_worldcities.csv"
download.file(url, destfile = "raw_worldcities.csv")

In [7]:
# Download raw_seoul_bike_sharing.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_seoul_bike_sharing.csv"
download.file(url, destfile = "raw_seoul_bike_sharing.csv")

In [18]:
dataset_list <- c('raw_bike_sharing_systems.csv', 'raw_seoul_bike_sharing.csv', 'raw_cities_weather_forecast.csv', 'raw_worldcities.csv')

In [19]:
library(readr)
library(stringr)

dataset_list <- c(
  'raw_bike_sharing_systems.csv',
  'raw_seoul_bike_sharing.csv',
  'raw_cities_weather_forecast.csv',
  'raw_worldcities.csv'
)

for (dataset_name in dataset_list) {
  dataset <- read_csv(dataset_name)
  
  # Convert column names to UPPERCASE and replace spaces with underscores
  colnames(dataset) <- colnames(dataset) |>
    toupper() |>
    str_replace_all(" ", "_")
  
  write.csv(dataset, dataset_name, row.names = FALSE)
}

Rows: 480 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): COUNTRY, City, Name, SYSTEM, OPERATOR, LAUNCHED, DISCONTINUED, STA...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 8760 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (4): Date, SEASONS, HOLIDAY, FUNCTIONING_DAY
dbl (10): RENTED_BIKE_COUNT, Hour, TEMPERATURE, HUMIDITY, WIND_SPEED, Visibi...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 160 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): city, weather, season
dbl  (8): visibility, temp, temp_min, temp_max, pressure, humidity, wind_spe...
dttm (1): forecast_datetime

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 26569 Columns: 11
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (7): City, CITY_ASCII, COUNTRY, ISO2, ISO3, ADMIN_NAME, CAPITAL
dbl (4): LAT, LNG, POPULATION, ID

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [21]:
for (dataset_name in dataset_list) {
  dataset <- read_csv(dataset_name, show_col_types = FALSE)
  
  cat("Dataset:", dataset_name, "\n")
  cat("Column Names:\n")
  print(colnames(dataset))
  cat("\n-----------------------------\n\n")
}

Dataset: raw_bike_sharing_systems.csv
Column Names:
 [1] "COUNTRY"         "CITY"            "NAME"            "SYSTEM"
 [5] "OPERATOR"        "LAUNCHED"        "DISCONTINUED"    "STATIONS"
 [9] "BICYCLES"        "DAILY_RIDERSHIP"

-----------------------------

Dataset: raw_seoul_bike_sharing.csv
Column Names:
 [1] "DATE"                  "RENTED_BIKE_COUNT"     "HOUR"
 [4] "TEMPERATURE"           "HUMIDITY"              "WIND_SPEED"
 [7] "VISIBILITY"            "DEW_POINT_TEMPERATURE" "SOLAR_RADIATION"
[10] "RAINFALL"              "SNOWFALL"              "SEASONS"
[13] "HOLIDAY"               "FUNCTIONING_DAY"

-----------------------------

Dataset: raw_cities_weather_forecast.csv
Column Names:
 [1] "CITY"              "WEATHER"           "VISIBILITY"
 [4] "TEMP"              "TEMP_MIN"          "TEMP_MAX"
 [7] "PRESSURE"          "HUMIDITY"          "WIND_SPEED"
[10] "WIND_DEG"          "SEASON"            "FORECAST_DATETIME"

-----------------------------

Dataset: raw_worldcities.csv
Column Names:
 [1] "CITY"       "CITY_ASCII" "LAT"        "LNG"        "COUNTRY"
 [6] "ISO2"       "ISO3"       "ADMIN_NAME" "CAPITAL"    "POPULATION"
[11] "ID"

-----------------------------

In [22]:
# First load the dataset
bike_sharing_df <- read_csv("raw_bike_sharing_systems.csv")

Rows: 480 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): COUNTRY, CITY, NAME, SYSTEM, OPERATOR, LAUNCHED, DISCONTINUED, STA...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [23]:
# Print its head
head(bike_sharing_df)

  COUNTRY   CITY                  NAME                 SYSTEM
1 Albania   Tirana                Ecovolis             NA
2 Argentina Mendoza               Metrobici            NA
3 Argentina San Lorenzo, Santa Fe Biciudad             Biciudad
4 Argentina Buenos Aires          Ecobici              Serttel Brasil
5 Argentina Rosario               Mi Bici Tu Bici[11]  NA
6 Australia Melbourne[12]         Melbourne Bike Share PBSC & 8D
  OPERATOR                       LAUNCHED         DISCONTINUED         STATIONS
1 NA                             March 2011       NA                   8
2 NA                             2014             NA                   2
3 NA                             27 November 2016 NA                   8
4 Bike In Baires Consortium.[10] 2010             NA                   400
5 NA                             2 December 2015  NA                   47
6 Motivate                       June 2010        30 November 2019[13] 53
  BICYCLES DAILY_RIDERSHIP
1 200      NA
2 40       NA
3 80       NA
4 4000     21917
5 480      NA
6 676      NA

In [24]:
# Select the four columns
sub_bike_sharing_df <- bike_sharing_df %>% select(COUNTRY, CITY, SYSTEM, BICYCLES)

In [25]:
sub_bike_sharing_df %>% 
    summarize_all(class) %>%
    gather(variable, class)

  variable class
1 COUNTRY  character
2 CITY     character
3 SYSTEM   character
4 BICYCLES character

In [26]:
# grepl searches a string for non-digital characters, and returns TRUE or FALSE
# if it finds any non-digital characters, then the bicyle column is not purely numeric
find_character <- function(strings) grepl("[^0-9]", strings)

In [27]:
sub_bike_sharing_df %>% 
    select(BICYCLES) %>% 
    filter(find_character(BICYCLES)) %>%
    slice(0:10)

   BICYCLES
1  4115[22]
2  310[59]
3  500[72]
4  [75]
5  180[76]
6  600[77]
7  [78]
8  initially 800 (later 2500)
9  100 (220)
10 370[114]

In [28]:
# Define a 'reference link' character class, 
# `[A-z0-9]` means at least one character 
# `\\[` and `\\]` means the character is wrapped by [], such as for [12] or [abc]
ref_pattern <- "\\[[A-z0-9]+\\]"
find_reference_pattern <- function(strings) grepl(ref_pattern, strings)

In [29]:
# Check whether the COUNTRY column has any reference links
sub_bike_sharing_df %>% 
    select(COUNTRY) %>% 
    filter(find_reference_pattern(COUNTRY)) %>%
    slice(0:10)

     COUNTRY

In [30]:
# Check whether the CITY column has any reference links
sub_bike_sharing_df %>% 
    select(CITY) %>% 
    filter(find_reference_pattern(CITY)) %>%
    slice(0:10)

   CITY
1  Melbourne[12]
2  Brisbane[14][15]
3  Lower Austria[18]
4  Namur[19]
5  Brussels[21]
6  Salvador[23]
7  Belo Horizonte[24]
8  João Pessoa[25]
9  (Pedro de) Toledo[26]
10 Rio de Janeiro[27]

In [31]:
# Check whether the System column has any reference links
sub_bike_sharing_df %>% 
    select(SYSTEM) %>% 
    filter(find_reference_pattern(SYSTEM)) %>%
    slice(0:10)

  SYSTEM
1 EasyBike[58]
2 4 Gen.[61]
3 3 Gen. SmooveKey[113]
4 3 Gen. Smoove[141][142][143][139]
5 3 Gen. Smoove[179]
6 3 Gen. Smoove[181]
7 3 Gen. Smoove[183]

In [33]:
remove_ref <- function(x) {
  str_replace_all(x, ref_pattern, "")
}

In [34]:
sub_bike_sharing_df <- sub_bike_sharing_df %>%
  mutate(
    CITY = remove_ref(CITY),
    SYSTEM = remove_ref(SYSTEM),
    BICYCLES = remove_ref(BICYCLES)
  )

In [36]:
sub_bike_sharing_df %>% 
  select(CITY, SYSTEM, BICYCLES) %>% 
  filter(find_reference_pattern(CITY) | find_reference_pattern(SYSTEM) | find_reference_pattern(BICYCLES))

     CITY SYSTEM BICYCLES

In [37]:
head(sub_bike_sharing_df)

  COUNTRY   CITY                  SYSTEM         BICYCLES
1 Albania   Tirana                NA             200
2 Argentina Mendoza               NA             40
3 Argentina San Lorenzo, Santa Fe Biciudad       80
4 Argentina Buenos Aires          Serttel Brasil 4000
5 Argentina Rosario               NA             480
6 Australia Melbourne             PBSC & 8D      676

In [38]:
library(stringr)
library(dplyr)

extract_num <- function(columns) {
  digitals_pattern <- "\\d+"
  as.numeric(str_extract(columns, digitals_pattern))
}

sub_bike_sharing_df <- sub_bike_sharing_df %>%
  mutate(BICYCLES = extract_num(BICYCLES))

In [39]:
summary(sub_bike_sharing_df$BICYCLES)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
      5     100     350    2022    1400   78000      78

In [40]:
write.csv(sub_bike_sharing_df, "bike_sharing_systems.csv", row.names = FALSE)